name: library service

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov
        
    
    - name: Run tests with coverage
      run: |
        pytest --cov=test/test_R1_AI.py test/test_R1.py test/test_R2.py test/test_R3_AI.py test/test_R3.py test/test_R4.py test/test_R4_AI.py test/test_R5.py test/test_R5_AI.py test/test_R6.py test/test_R6_AI.py test/test_R7.py test/test_R7_AI.py --cov-report=xml tests/

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
