name: library service

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest-cov
        cd test
    
    - name: Run tests with coverage
      run: |
        pytest --cov=test_R1_AI test_R1 test_R2 test_R3_AI test_R3 test_R4 test_R4_AI test_R5 test_R5_AI test_R6 test_R6_AI test_R7 test_R7_AI --cov-report=xml tests/

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
